<div class="borders">

    <div style="justify-content: space-between; display: flex; margin-bottom: 2ch;">
        <h4>Zaposleni</h4>
        <button class="btn btn-primary" data-toggle="modal" data-target="#addEmployee">Dodaj zaposlenog</button>
    </div>


    <table class="shadow p-3 mb-5 bg-white rounded table" style="width:100%">
        <thead>
          <tr>
            <th scope="col" style="width:8%">#</th>
            <th scope="col" style="width:17.5%">Ime</th>
            <th scope="col"  style="width:17.5%">Prezime</th>
            <th scope="col" style="width:17.5%">Email</th>
            <th scope="col" style="width:17.5%">Telefon</th>
            <th scope="col" style="width:8%"></th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of employees; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{m.name}}</td>
            <td>{{m.surname}}</td>
            <td>{{m.email}}</td>
            <td>{{m.phoneNumber}}</td>
            <!-- <td><button class="btn btn-primary" (click)="selectManager(m)" data-toggle="modal" data-target="#editManager">Измијени</button></td> -->
            <td><button class="btn btn-primary" (click)="deleteManager(m.id)">Izbriši</button></td>

          </tr>

        </tbody>
      </table>

</div>





<div class="modal fade" id="addEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Dodaj novog zaposlenog</h5>
        </div>
        
        <div  class="container"  style="margin: 5% 5% 5% 5%;">
            <mat-form-field style="width: 243px;">
                <input matInput required placeholder="Ime" autocomplete="off" [(ngModel)]="employee.name">
            </mat-form-field>
            <br>
            <mat-form-field style="width: 243px;">
                <input matInput required placeholder="Prezime" autocomplete="off" [(ngModel)]="employee.surname" >
            </mat-form-field><br>
            <mat-form-field style="width: 243px;">
                <input matInput required placeholder="Telefon" autocomplete="off" [(ngModel)]="employee.phoneNumber">
            </mat-form-field><br>
            <mat-form-field style="width: 243px;">
                <input matInput required placeholder="Email" autocomplete="off" [(ngModel)]="employee.email">
            </mat-form-field>
            <div>
                <label>Radno mjesto:</label>
                <select class="form-select" (change)="selectRole($event)" aria-label="Default select example" style="width: 243px;">
                    <option></option>
                    <option>Šalterski radnik</option>
                    <option>Obračunski radnik</option>
                    <option>Poštar</option>
                </select>
            </div>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Nazad</button>
            <button type="button" [disabled]="this.employee.name == '' || this.employee.surname == '' || this.employee.role == '' || this.employee.email == '' || this.employee.phoneNumber == ''" class="btn btn-primary"  data-dismiss="modal" (click)="addEmployee()">Sačuvaj</button>
        </div>
    </div>
    </div>
</div>


