<div class="borders">
    <div class="inner shadow p-3 mb-5 bg-white rounded">

        <form style="display:grid; justify-content: space-between; margin-left: 3.5ch; margin-right: 20px; margin-left: 20px;" >

            <div class="form-group" class="center" style="width: 40vw;">
                <div class="row" >
                    <div class="col">
                        <label style="margin-bottom: 10px; margin-left: 0.5ch;" class="row">Пошиљалац:</label>
                        <input style="width: 95%; margin-left: 0.5ch;" type="text" class="row" placeholder="Име" [(ngModel)]="client.name" name="name">
                    </div>
                    <div class="col">
                        <input style="width: 107%; margin-top: 3.9ch;" type="text" class="row" placeholder="Презиме" [(ngModel)]="client.surname" name="name">
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-6" >
                        <input type="text" placeholder="Улица" style="width: 95%; margin-left: 0.5ch;" [(ngModel)]="clientAddress.street" name="street">
                    </div>
                    <div class="col-3" style="padding: 0%">
                        <input type="text" placeholder="Број" style="width: 100%;" [(ngModel)]="clientAddress.streetNumber" name="streetNumber">
                    </div>
                    <div class="col-3" style="padding-right: 0%;">
                        <input type="text" placeholder="Поштански број" style="width: 97%;" [(ngModel)]="clientAddress.postalCode" name="postalCode">
                    </div>
                </div><br>

                <div class="row">
                    <div class="col">
                        <input style="width: 95%; margin-left: 0.5ch; margin-top: 0.5ch;" type="text" class="row" placeholder="Град" [(ngModel)]="clientAddress.city" name="city">
                    </div>
    
                    <div class="col">
                        <input style="width: 107%; margin-top: 0.5ch;" type="text" class="row" placeholder="Држава" [(ngModel)]="clientAddress.country" name="country">
                    </div>
                </div>

                   
                </div><br>

            <div class="form-group" class="center" style="width: 40vw;" >
                <div class="row">
                    <div class="col">
                        <label style="margin-bottom: 10px; margin-left: 0.5ch;" class="row">Прималац:</label>
                        <input style="width: 95%; margin-left: 0.5ch;" type="text" class="row" placeholder="Име" [(ngModel)]="receiver.name" name="rname">
                    </div>
                    <div class="col">
                        <input style="width: 107%; margin-top: 3.9ch;" type="text" class="row" placeholder="Презиме" [(ngModel)]="receiver.surname" name="rsurname">
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-6" >
                        <input type="text" placeholder="Улица" style="width: 95%; margin-left: 0.5ch;" [(ngModel)]="receiverAddress.street" name="rstreet">
                    </div>
                    <div class="col-3" style="padding: 0%">
                        <input type="text" placeholder="Број" style="width: 100%;"  [(ngModel)]="receiverAddress.streetNumber" name="rstreetNum">
                    </div>
                    <div class="col-3" style="padding-right: 0%;">
                        <input type="text" placeholder="Поштански број" style="width: 97%;"  [(ngModel)]="receiverAddress.postalCode" name="rPostalCode">
                    </div>
                </div><br>

                <div class="row">
                    <div class="col">
                        <input style="width: 95%; margin-left: 0.5ch; margin-top: 0.5ch;" type="text" class="row" placeholder="Град"  [(ngModel)]="receiverAddress.city" name="rcity">
                    </div>
    
                    <div class="col">
                        <input style="width: 107%; margin-top: 0.5ch;" type="text" class="row" placeholder="Држава"  [(ngModel)]="receiverAddress.country" name="rcountry">
                    </div><br><br>

                </div>

                <div class="row">

                    <div class="col" style="margin-left: 12px;"><br>
                        <label style="margin-bottom: 10px;" class="row">Датум пријема:</label>
                        <input style="width: 103%;" type="text" class="row" [(ngModel)]="date" name="date" disabled>
                    </div>
               
                </div><br>
                

            </div>
        </form>

        <form>
            <div class="form-group" class="center" style="width: 37vw;">
                <div class="row">
                    <div class="col">
                        <label style="margin-bottom: 10px; margin-left: 1px;" class="row">Услуга:</label>
                        <select class="form-select" aria-label="Default select example" style="width: 112%;">
                            <option value="1">Писмоносна услуга</option>
                            <option value="2">Пакет</option>
                        </select>
                    </div>
                </div><br>

                <div class="row" >
                    <div class="col">
                        <label style="margin-bottom: 10px; margin-left: 1px;" class="row">Врста пошиљке:</label>
                        <select class="form-select" aria-label="Default select example" style="width: 112%;">
                            <option value="1">Писмо</option>
                            <option value="2">Препоручена пошиљка</option>
                            <option value="2">Вриједносна пошиљка</option>
                        </select>
                    </div>
                </div><br>


                <div class="row">

                    <div class="col-10" style="margin-left: 12px;">
                        <label style="margin-bottom: 10px;" class="row">Маса пошиљке (0-1000г):</label>
                        <input style="width: 135%;" type="text" class="row" [(ngModel)]="shipment.weight" name="place">
                    </div>

                </div><br>

                <div class="row">

                    <div class="col-10" style="margin-left: 12px;">
                        <label style="margin-bottom: 10px;" class="row">Вредност пошиљке (дин):</label>
                        <input style="width: 135%;" type="text" class="row" [(ngModel)]="shipment.value" name="place">
                    </div>
                    
                </div><br>

                <div class="row">

                    <div class="col-10" style="margin-left: 12px;">
                        <label style="margin-bottom: 10px;" class="row">Услуге по захтјеву:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Повратница
                            </label>
                        </div>
                          
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Лично уручење
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                             Електронска потврда о уручењу пошиљке - СМС
                            </label>
                        </div>
                    </div>
                    
                </div>
               
            </div><br>
            
            <div class="float-right" style="margin-right: 5ch;">
                <button class="btn btn-primary" style="margin-right: 1ch;">Откажи</button>
                <button class="btn btn-primary" >Сачувај</button>
    
            </div>
        </form>


    </div>

</div>