<div class="borders">
    <div class="inner shadow p-3 mb-5 bg-white rounded">

        <form style="display:grid; justify-content: space-between; margin-left: 3.5ch; margin-right: 20px; margin-left: 20px;" >

            <div class="form-group" class="center" style="width: 40vw;">
                <div class="row" >
                    <div class="col">
                        <label style="margin-bottom: 10px; margin-left: 0.5ch;" class="row">Pošiljalac:</label>
                        <input style="width: 95%; margin-left: 0.5ch;" type="text" class="row" placeholder="Ime" [(ngModel)]="client.name" name="name">
                    </div>
                    <div class="col">
                        <input style="width: 107%; margin-top: 3.9ch;" type="text" class="row" placeholder="Prezime" [(ngModel)]="client.surname" name="name">
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-6" >
                        <input type="text" placeholder="Ulica" style="width: 95%; margin-left: 0.5ch;" [(ngModel)]="clientAddress.street" name="street">
                    </div>
                    <div class="col-3" style="padding: 0%">
                        <input type="text" placeholder="Broj" style="width: 100%;" [(ngModel)]="clientAddress.streetNumber" name="streetNumber">
                    </div>
                    <div class="col-3" style="padding-right: 0%;">
                        <input type="text" placeholder="Poštanski broj" style="width: 97%;" [(ngModel)]="clientAddress.postalCode" name="postalCode" autocomplete="off" (change) = findCity()>
                    </div>
                </div><br>

                <div class="row">
                    <div class="col">
                        <input style="width: 95%; margin-left: 0.5ch; margin-top: 0.5ch;" type="text" class="row" placeholder="Grad" [(ngModel)]="clientAddress.city" autocomplete="off" name="city" >
                    </div>
    
                    <div class="col">
                        <input style="width: 107%; margin-top: 0.5ch;" type="text" class="row" placeholder="Država" [(ngModel)]="clientAddress.country" name="country">
                    </div>
                </div><br>

                <div class="row">
                    <div class="col">
                        <label style="margin-bottom: 10px; margin-left: 0.5ch;" class="row">Primalac:</label>
                        <input style="width: 95%; margin-left: 0.5ch;" type="text" class="row" placeholder="Ime" [(ngModel)]="receiver.name" name="rname">
                    </div>
                    <div class="col">
                        <input style="width: 107%; margin-top: 3.9ch;" type="text" class="row" placeholder="Prezime" [(ngModel)]="receiver.surname" name="rsurname">
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-6" >
                        <input type="text" placeholder="Ulica" style="width: 95%; margin-left: 0.5ch;" [(ngModel)]="receiverAddress.street" name="rstreet">
                    </div>
                    <div class="col-3" style="padding: 0%">
                        <input type="text" placeholder="Broj" style="width: 100%;"  [(ngModel)]="receiverAddress.streetNumber" name="rstreetNum">
                    </div>
                    <div class="col-3" style="padding-right: 0%;">
                        <input type="text" placeholder="Poštanski broj" style="width: 97%;"  [(ngModel)]="receiverAddress.postalCode" name="rPostalCode" autocomplete="off" (change) = findCityReceiver()>
                    </div>
                </div><br>

                <div class="row">
                    <div class="col">
                        <input style="width: 95%; margin-left: 0.5ch; margin-top: 0.5ch;" type="text" class="row" placeholder="Grad"  [(ngModel)]="receiverAddress.city" name="rcity" >
                    </div>
    
                    <div class="col">
                        <input style="width: 107%; margin-top: 0.5ch;" type="text" class="row" placeholder="Država"  [(ngModel)]="receiverAddress.country" name="rcountry">
                    </div><br><br>

                </div>

                <div class="row">

                    <div class="col" style="margin-left: 12px;"><br>
                        <label style="margin-bottom: 10px;" class="row">Datum prijema:</label>
                        <input style="width: 103%;" type="text" class="row" [(ngModel)]="date" name="date" disabled>
                    </div>
               
                </div><br>
                   
            </div><br>

            
        </form>

        <form>
            <div class="form-group" class="center" style="width: 37vw;">
                <div class="row">
                    <div class="col">
                        <label style="margin-bottom: 10px; margin-left: 1px;" class="row">Usluga:</label>
                        <select class="form-select" (change)="selectShipmentType($event)" aria-label="Default select example" style="width: 112%;">
                            <option value="1">Pismonosna usloga</option>
                            <option value="2">Paket</option>
                        </select>
                    </div>
                </div><br>

                <div class="row" *ngIf="letter">
                    <div class="col">
                        <label style="margin-bottom: 10px; margin-left: 1px;" class="row">Vrsta pošiljke:</label>
                        <select [disabled]="!letter" (change)="selectLetterType($event)" class="form-select" aria-label="Default select example" style="width: 112%;">
                            <option *ngIf="!letter" selected></option>
                            <option value="1">Pismo</option>
                            <option value="2">Preporučena pošiljka</option>
                            <option value="3">Vrijednosna pošiljka</option>
                        </select>
                    </div>
                </div><br>


                <div class="row">

                    <div class="col-10" style="margin-left: 12px;">
                        <label *ngIf="letter" style="margin-bottom: 10px;" class="row">Masa pošiljke (0-1000g):</label>
                        <label *ngIf="!letter" style="margin-bottom: 10px;" class="row">Masa pošiljke (kg):</label>
                        <input style="width: 135%;" type="text" class="row" [(ngModel)]="shipment.weight" name="weight">
                    </div>

                </div><br>

                <div class="row" *ngIf="valueLetter">

                    <div class="col-10" style="margin-left: 12px;">
                        <label style="margin-bottom: 10px;" class="row">Vrijednost pošiljke (din):</label>
                        <input style="width: 135%;" type="text" class="row" [(ngModel)]="shipment.value" name="place">
                    </div>
                    
                </div><br>

                <div class="row" *ngIf="!ordinaryLetter">

                    <div class="col-10" style="margin-left: 12px;">
                        <label style="margin-bottom: 10px;" class="row">Usluge po zahtjevu:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" (change)="returnReceipt($event)" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Povratnica
                            </label>
                        </div>
                          
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" (change)="personalDelivery($event)" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Lično uručenje
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" (change)="emailReport($event)" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                             Elektronska potvrda o uručenju pošiljke - email
                            </label>
                        </div>
                    </div>
                    
                </div><br>

                <div *ngIf="email" class="row">

                    <div class="col-10" style="margin-left: 12px;">
                        <label style="margin-bottom: 10px;" class="row"> Email:</label>
                        <input style="width: 135%;" type="text" class="row" [(ngModel)]="shipment.email" name="phoneNum">
                    </div>

                </div><br>
               
            </div><br>
            <div *ngIf="!email" class="float-right" style="margin-right: 5ch; margin-top: 70px;">
                <button class="btn btn-primary" style="margin-right: 1ch;">Otkaži</button>
                <button class="btn btn-primary" data-toggle="modal" data-target="#totalPrice" (click)="findTotalPrice()">Sačuvaj</button>
            </div>

            <div *ngIf="email" class="float-right" style="margin-right: 5ch; margin-top: 5px;">
                <button class="btn btn-primary" style="margin-right: 1ch;">Otkaži</button>
                <button class="btn btn-primary" data-toggle="modal" data-target="#totalPrice" (click)="findTotalPrice()">Sačuvaj</button>
            </div>
        </form>


    </div>

</div>




<div *ngIf="this.valid" class="modal fade" id="totalPrice" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Ukupna cijena pošiljke</h5>
        </div>
        
        <div  class="container"  style="margin: 5% 5% 5% 5%;">
            
                <label>Услуга: {{typePrice}} din</label><br>        
                <label>Маса: {{weightPrice}} din</label><br>
                <label *ngIf="this.shipment.returnReceipt">Povratnica: 50 din</label><br>
                <label *ngIf="this.shipment.emailReport">Email: 100 din</label><br>
                <b>Ukupno: {{totalPrice}}</b>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Nazad</button>
            <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="addShipment()">Potvrdite?</button>
        </div>
    </div>
    </div>
</div>
