<div class="sidebar-container">
    <!-- <div class="sidebar-logo">
        Home
      </div> -->
    <ul class="sidebar-navigation">
        <li>
            <a class="sidebar-click">
                <i class="fa fa-home" aria-hidden="true"></i> Почетна
            </a>
        </li>
        <li>
            <a class="sidebar-click">
                <i class="fa fa-home" aria-hidden="true"></i> Управници
            </a>
        </li>
        <li>
            <a class="sidebar-click" data-toggle="modal">
                <i class="fa fa-home" aria-hidden="true"></i> Пословнице
            </a>
        </li>   
    </ul>
</div>

