<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isLogged()">
  <!-- <a class="navbar-brand" href="#">Почетна</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin: left 20px; ;">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="isLogged() && isAdmin()">
        <a class="nav-link" href="/admin-home">Почетна <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" *ngIf="isLogged() && isManager()">
        <a class="nav-link" href="/manager-home">Почетна <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" *ngIf="isAdmin()">
              <a class="nav-link" href="/admin-home">Управници <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" *ngIf="isAdmin()">
              <a class="nav-link" href="/post-offices">Пословнице</a>
            </li>
            <li class="nav-item active" *ngIf="isManager()">
              <a class="nav-link" href="/manager-home#">Запослени</a>
            </li>
            <li class="nav-item active" *ngIf="isManager() || isAccountingWorker()">
              <a class="nav-link" href="/notification">Обавјештења</a>
            </li>
            <li class="nav-item active" *ngIf="isManager()">
              <a class="nav-link" href="#">Возила</a>
            </li>
            <li class="nav-item active" *ngIf="isManager()">
              <a class="nav-link" href="#">Одсуство</a>
            </li>
            <li class="nav-item dropdown active" *ngIf="isLogged()">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Профил
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-right: 15px;">
                <a class="dropdown-item" href="#">Лични подаци</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" (click)="logout()">Одјави се</a>
              </div>
            </li>
          </ul></form>
  </div>
</nav>