<div class="borders">
  <h4>Pošiljke</h4>

    <div style="justify-content: space-between; display: flex; margin-bottom: 2ch;">
        
        <div class="row">
          <div class="col input-group">
            <input type="search" class="form-control rounded" [(ngModel)]="searchCriteria" placeholder="Šifra pošiljke" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary" (click)="search()">Pretraži</button>
            <button type="button" class="btn btn-outline-primary" (click)="getAll()">Obriši</button>
          </div>

         
        </div>

        <div class="col-1.5"> 
          <button *ngIf="isCounterWorker()" class="btn btn-primary" (click)="addShipment()" style="margin-left: 4ch;">Dodaj pošiljku</button>
          <button *ngIf="isAccountingWorker()" class="btn btn-primary" data-toggle="modal" data-target="#recordShipment" style="margin-left: 4ch;">Unesi pošiljku</button>

        </div>

    </div>

    <table class="shadow p-3 mb-5 bg-white rounded table" style="width:100%">
        <thead>
          <tr>
            <th scope="col" >#</th>
            <th scope="col" >Šifra pošiljke</th>
            <th scope="col" >Pošiljalac</th>
            <th scope="col" >Primalac</th>
            <th scope="col" >Adresa primaoca</th>
            <th scope="col" >Datum slanja</th>
            <th scope="col" >Status</th>
            <th scope="col" ></th>
            <th scope="col" ></th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of shipments; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{m.code}}</td>
            <td>{{m.sender}}</td>
            <td>{{m.receiver}}</td>
            <td>{{m.receiverAddress}}</td>
            <td>{{m.date}}</td>
            <td>{{m.shipmentStatus}}</td>
            <td><button class="btn btn-primary" data-toggle="modal" data-target="#shipmentDetails" (click)="selectShipment(m)">Detalji</button></td>
            <!-- <b *ngIf="m.shipmentStatus == 'Достављено'">Достављено</b> -->
            <td *ngIf="isCounterWorker()"><button class="btn btn-primary" style=" height: 4.3ch; white-space: nowrap;" (click)="selectShipment(m)" data-toggle="modal" data-target="#deliver">Isporuči</button></td>
            <td *ngIf="isAccountingWorker()"><button class="btn btn-primary" style=" height: 4.3ch; white-space: nowrap;" (click)="selectShipment(m)" data-toggle="modal" data-target="#changeStatus">Promijeni status</button></td>

          </tr>

        </tbody>
      </table>
</div>




<div class="modal fade" id="changeStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
  <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Promijeni status pošiljke: {{selectedShipment?.code}}</h5>
      </div>
      
      <div  class="container"  style="margin: 5% 5% 5% 5%;">
              <b *ngIf="this.selectedShipment?.shipmentStatus == 'Достављено'">Ne može se mijenjati status pošiljke koja je već postavljena!!</b>      

              <label *ngIf="this.selectedShipment?.shipmentStatus != 'Достављено'">Trenutni status: </label>&nbsp;&nbsp;
              <b *ngIf="this.selectedShipment?.shipmentStatus != 'Достављено'">{{this.selectedShipment?.shipmentStatus}}</b><br>
              <div class="row" style="width: 95%;" *ngIf="this.selectedShipment?.shipmentStatus != 'Достављено'">
                <label class="col-sm-4">Novi status:</label>
                <select class="form-select col" (change)="newStatus($event)" aria-label="Default select example" >
                  <option value="1">Čeka na isporuku</option>
                  <!-- <option value="2">Послато на испоруку</option> -->
                  <option value="3">Dostavljeno</option>
                  <option value="4">Vraćeno pošiljaocu</option>
                </select>
              </div>
              
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
          <button [disabled]="this.selectedShipment?.shipmentStatus == 'Достављено'" type="button" class="btn btn-primary"  data-dismiss="modal" (click)="changeStatus()">Sačuvaj</button>
      </div>
  </div>
  </div>
</div>





<div class="modal fade" id="deliver" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
  <div class="modal-content">
      <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLongTitle">Пошиљка: {{selectedShipment?.code}}</h5> -->
      </div>
      
      <div  class="container"  style="margin: 5% 5% 5% 5%;">
          <b *ngIf="this.selectedShipment?.shipmentStatus == 'Достављено'">Ne može se mijenjati status pošiljke koja je već isporučena!!</b>      
          <!-- <b *ngIf="this.selectedShipment?.shipmentStatus != 'Достављено'">Пошиљка {{selectedShipment?.code}} је успјешно испоручена!</b> -->
          <b *ngIf="this.selectedShipment?.shipmentStatus != 'Достављено'">Da li ste sigurni da želite da isporučite pošiljku sa šifrom: {{selectedShipment?.code}}?</b>

      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
          <button *ngIf="this.selectedShipment?.shipmentStatus != 'Достављено'" type="button" class="btn btn-primary"  data-dismiss="modal" (click)="deliverShipment()">Potvrdi</button>

      </div>
  </div>
  </div>
</div>




<div class="modal fade" id="recordShipment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
  <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Unesi pristiglu pošiljku</h5>
      </div>
      
      <div  class="container"  style="margin: 5% 5% 5% 5%;">
              <label >Šifra pošiljke: </label>&nbsp;&nbsp;
              <input type="text" name="code" style="width: 30ch;" [(ngModel)]="shipmentCode">             
      </div>

      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
          <button type="button" [disabled]="this.shipmentCode === ''" class="btn btn-primary"  data-dismiss="modal" (click)="recordShipment()">Sačuvaj</button>
      </div>

  </div>
  </div>
</div>



  <!-- Modal for showing shipment details -->
  <div class="modal fade" id="shipmentDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Detalji pošiljke sa šifrom: {{selectedShipment?.code}}</h5>
        </div>
        
     
        <div class="container" style="margin: 5% 5% 5% 5%;">
            <label>Pošiljalac:</label>&nbsp;&nbsp;<br>
            <h6>{{selectedShipment?.sender}}, {{selectedShipment?.senderAddress}}</h6>
           
            <label>Primalac:</label>&nbsp;&nbsp;<br>
            <h6>{{selectedShipment?.receiver}}, {{selectedShipment?.receiverAddress}}</h6>
            
            <label>Datum slanja:</label>&nbsp;&nbsp;<br>
            <h6>{{selectedShipment?.date}}</h6>

            <label>Usluga:</label>&nbsp;&nbsp;<br>
            <h6>{{selectedShipment?.shipmentType}}</h6>

            <label>Ukupna cijena:</label>&nbsp;&nbsp;<br>
            <h6>{{selectedShipment?.totalPrice}} din</h6>
           
            <label>Masa:</label>&nbsp;&nbsp;<br>
            <h6>{{selectedShipment?.weight}} gr</h6>

            <label *ngIf="selectedShipment?.letterType != null">Vrsta pošiljke:</label>&nbsp;&nbsp;<br>
            <h6 *ngIf="selectedShipment?.letterType != null">{{selectedShipment?.letterType}} (ukupna vrijednost: {{selectedShipment?.value}} din)</h6>
           
            <label>Dodatno:</label>&nbsp;&nbsp;<br>
            <h6 *ngIf="selectedShipment?.personalDelivery"> Lična isporuka</h6>
            <h6 *ngIf="selectedShipment?.returnReceipt">Povratnica</h6>
            <h6 *ngIf="selectedShipment?.emailReport">Elektronska potvrda o uručenju pošiljke: {{selectedShipment?.email}}</h6>

        </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
        </div>
    </div>
    </div>
</div>