<div class="borders">

    <div style="justify-content: space-between; display: flex; margin-bottom: 2ch;">
        <h4>Obavještenja</h4>
        <button class="btn btn-primary" data-toggle="modal" data-target="#addNotification" *ngIf="isManager()">Dodaj obavještenje</button>
    </div>


    <section>
        <div >
            <div class="row">
                    <!-- Testimonial 1 *ngFor="let c of comments" -->
                    <div class="card mb-4 shadow" *ngFor="let n of notifications"> 
                        <div class="card-body p-4  ">
                                <div class="flex-shrink-0"><em class="bi bi-chat-right-quote-fill text-primary fs-1"></em></div>
                                <div class="ms-4">
                                    <div style="justify-content: space-between; display: flex;">
                                        <label>{{n.content}}</label>
                                        <label>{{n.date}}</label>
                                        
                                    </div>
                                </div>
                        </div>
                    </div>
                    <!-- Testimonial 2-->
                    
            </div>
        </div>
      </section>

</div>



<div class="modal fade" id="addNotification" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Dodaj obavještenje</h5>
        </div>
        
     
        <div class="container" style="margin: 5% 5% 5% 5%;">
      

            <textarea id="w3review" name="w3review" rows="8" cols="50" [(ngModel)]="newNotification.content"></textarea>

        </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Nazad</button>
            <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="addNotification()">Sačuvaj</button>
        </div>
    </div>
    </div>
</div>
