<div class="borders">

    <div style="justify-content: space-between; display: flex; margin-bottom: 2ch;">
        <h4>Обавјештења</h4>
        <button class="btn btn-primary" data-toggle="modal" data-target="#addNotification">Додај обавјештење</button>
    </div>


    <section>
        <div class="container">
            <div class="row">
                    <!-- Testimonial 1 *ngFor="let c of comments" -->
                    <div class="card mb-4" > 
                        <div class="card-body p-4">
                                <div class="flex-shrink-0"><em class="bi bi-chat-right-quote-fill text-primary fs-1"></em></div>
                                <div class="ms-4">
                                    <div style="justify-content: space-between; display: flex;">
                                        <label>Sadrzaj</label>
                                        <label>Datum</label>
                                    </div>
                                    <div class="small text-muted">- c.client.name c.client.surname, c.client.address.cityName, c.client.address.countryName</div>
                                </div>
                        </div>
                    </div>
                    <!-- Testimonial 2-->
                    
            </div>
        </div>
      </section>

</div>