<div class="borders">

    <div style="justify-content: space-between; display: flex; margin-bottom: 2ch;">
        <h4>Uplate</h4>
        <button class="btn btn-primary" (click)="addPayment()">Dodaj uplatu</button>
    </div>

    <table class="shadow p-3 mb-5 bg-white rounded table" style="width:100%">
        <thead>
          <tr>
            <th scope="col" style="width:8%">#</th>
            <th scope="col" >Uplatilac</th>
            <th scope="col" >Primalac</th>
            <th scope="col" >Svrha uplate</th>
            <th scope="col" >Iznos</th>
            <th scope="col" >Datum uplate</th>
            <th scope="col" style="width:8%"></th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of payments; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{m.client.name}} {{m.client.surname}}</td>
            <td>{{m.receiver}}</td>
            <td>{{m.purpose}}</td>
            <td>{{m.amount}} {{m.currency}}</td>
            <td>{{m.date}}</td>
            <td><button class="btn btn-primary" data-toggle="modal" data-target="#paymentDetails" (click)="selectPayment(m)">Detalji</button></td>

          </tr>

        </tbody>
      </table>

</div>




<div class="modal fade" id="paymentDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal" role="document">
  <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Detalji uplate</h5>
      </div>
      
   
      <div class="container" style="margin: 5% 5% 5% 5%;">
          <label>Uplatilac:</label>&nbsp;&nbsp;<br>
          <h6>{{selectedPayment?.clientName}}, {{selectedPayment?.clientAddressFull}}</h6>
         
          <label>Primalac:</label>&nbsp;&nbsp;<br>
          <h6>{{selectedPayment?.receiver}}, {{selectedPayment?.receiverAddressFull}}</h6>
          
          <label>Svrha uplate:</label>&nbsp;&nbsp;<br>
          <h6>{{selectedPayment?.purpose}}</h6>

          <label>Šifra plaćanja:</label>&nbsp;&nbsp;<br>
          <h6>{{selectedPayment?.paymentCode}}</h6>

          <label>Iznos:</label>&nbsp;&nbsp;<br>
          <h6>{{selectedPayment?.amount}} {{selectedPayment?.currency}}</h6>
         
          <label>Račun primaoca:</label>&nbsp;&nbsp;<br>
          <h6>{{selectedPayment?.receiverAccount}}</h6>

          <label>Model:</label>&nbsp;&nbsp;<br>
          <h6>{{selectedPayment?.model}}</h6>

          <label>Poziv na broj:</label>&nbsp;&nbsp;<br>
          <h6>{{selectedPayment?.referenceNumber}}</h6>

          <label>Datum i mjesto prijema:</label>&nbsp;&nbsp;<br>
          <h6>{{selectedPayment?.date}}, {{selectedPayment?.receivingPlace}}</h6>

      </div>
      
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
      </div>
  </div>
  </div>
</div>
