<div class="borders">

    <div style="justify-content: space-between; display: flex; margin-bottom: 2ch;">
        <h4>Статистика уплата</h4>
        <button class="btn btn-primary" (click)="allPayments()">Све уплате</button>
    </div>
    <br><h6>Број уплата по години:</h6><br>

    <canvas id="myChartYear" width="1350" height="400"></canvas>



    <div>
        <br><h6>Мјесечни број уплата за изабрану годину: </h6><br>
        <label>Изабрана година:</label>
        <select class="form-select" aria-label="Default select example" (change)="selectYear($event)">
            <option value="2021">2021</option>
            <option selected value="2022">2022</option>
        </select>
        <canvas id="myChart" width="1350" height="400"></canvas>
    </div><br><br>


    <div>
        <br><h5>Број уплата за изабрани период: </h5><br>
        <label style="margin-bottom: 10px;">Почетни датум:</label>
        <mat-form-field appearance="fill" style="margin-left: 3%">
            <mat-label>Изаберите датум</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="startDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field>
        <label style="margin-bottom: 10px; margin-left: 2%;">Крајњи датум:</label>
        <mat-form-field appearance="fill" style="margin-left: 3%; ">
            <mat-label>Изаберите датум</mat-label>
            <input matInput [matDatepicker]="picker2" [min]="startDate" [(ngModel)]="endDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 ></mat-datepicker>
        </mat-form-field>
        <button class="btn btn-primary" style="margin-left: 2%;" (click)="selectDays()">Изаберите</button><br>
        <!-- <strong>Total in selected period: {{totalPerWeek}}</strong> -->

        <canvas *ngIf="startDate !== undefined && endDate !== undefined" id="myChartWeek" width="1350" height="400"></canvas>
    </div>



    <div>
        <br><h5>Укупна количина уплаћеног новца за изабрани период: </h5><br>
        <label style="margin-bottom: 10px;">Почетни датум:</label>
        <mat-form-field appearance="fill" style="margin-left: 3%">
            <mat-label>Изаберите датум</mat-label>
            <input matInput [matDatepicker]="picker3" [(ngModel)]="startDateAmount">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3 ></mat-datepicker>
        </mat-form-field>
        <label style="margin-bottom: 10px; margin-left: 2%;">Крајњи датум:</label>
        <mat-form-field appearance="fill" style="margin-left: 3%; ">
            <mat-label>Изаберите датум</mat-label>
            <input matInput [matDatepicker]="picker22" [min]="startDateAmount" [(ngModel)]="endDateAmount">
            <mat-datepicker-toggle matSuffix [for]="picker22"></mat-datepicker-toggle>
            <mat-datepicker #picker22 ></mat-datepicker>
        </mat-form-field>
        <button class="btn btn-primary" style="margin-left: 2%;" (click)="selectDaysAmount()">Изаберите</button><br>
        <!-- <strong>Total in selected period: {{totalPerWeek}}</strong> -->

        <canvas *ngIf="startDateAmount !== undefined && endDateAmount !== undefined" id="myChartWeekAmount" width="1350" height="400"></canvas>
    </div>

</div>
