<div style="overflow-y: hidden;">
    <mat-card elevation="5" fxFlex class="content" style="margin-top:240px; " >

        <mat-card-title>
            <h2>Pošta</h2>
        </mat-card-title>
    
        <mat-card-content>
            <p *ngIf="notification" [class]="notification.msgType">{{notification.msgBody}}</p>
            <br>
            <form (ngSubmit)="onSubmit()" *ngIf="!submitted" [formGroup]="form">
                <mat-form-field>
                    <input formControlName="email" matInput placeholder="email" required>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="password" matInput placeholder="lozinka" required type="password">
                </mat-form-field>
                <br>
                <br>
                <button color="primary" mat-raised-button type="submit">Prijavi se</button>
                
            </form>
          
    
            <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
            
            <hr>
        </mat-card-content>
    
    </mat-card>
</div>

