<mat-card elevation="5" fxFlex class="content" style="margin-top: 60px;">

    <mat-card-title>
        <h4>Izmjena lozinke</h4>
    </mat-card-title>

    <mat-card-content>
        <p *ngIf="notification !== ''" style="color: red;">{{notification}}</p>
        <form (ngSubmit)="onSubmit()" *ngIf="!submitted" [formGroup]="form">
             
            <mat-form-field>
                <label>Stara lozinka: </label>
                <input formControlName="oldPassword" matInput required type="password" required>
            </mat-form-field> 
            
            <mat-form-field>
                <label>Nova lozinka: </label>
                <input formControlName="password" matInput required type="password" required>
            </mat-form-field> 
            <mat-form-field>
                <label>Ponovi novu lozinku: </label>
                <input formControlName="passwordRepeated" matInput required type="password" required>
            </mat-form-field> 
            <button [disabled]="!form.valid" color="primary" mat-raised-button type="submit">Potvrdi</button>
            <br>
        </form>
        
        <hr>
    </mat-card-content>
    
    
</mat-card>