

<div class="borders">

    <div style="justify-content: space-between; display: flex; margin-bottom: 2ch;">
        <h4>Upravnici</h4>
        <button class="btn btn-primary" data-toggle="modal" data-target="#addManager">Dodaj upravnika</button>
    </div>

    <table class="shadow p-3 mb-5 bg-white rounded table" style="width:100%">
        <thead>
          <tr>
            <th scope="col" style="width:8%">#</th>
            <th scope="col" style="width:17.5%">Ime</th>
            <th scope="col"  style="width:17.5%">Prezime</th>
            <th scope="col" style="width:17.5%">Email</th>
            <th scope="col" style="width:17.5%">Telefon</th>
            <th scope="col" style="width:8%"></th>
            <th scope="col" style="width:8%"></th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of managers; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{m.name}}</td>
            <td>{{m.surname}}</td>
            <td>{{m.email}}</td>
            <td>{{m.phoneNumber}}</td>
            <td><button class="btn btn-primary" (click)="selectManager(m)" data-toggle="modal" data-target="#editManager">Izmijeni</button></td>
            <td><button class="btn btn-primary" (click)="deleteManager(m.id)">Izbriši</button></td>

          </tr>

        </tbody>
      </table>
</div>




  <!-- Modal for adding new manager -->
  <div class="modal fade" id="addManager" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Dodaj novog upravnika</h5>
        </div>
        
        <div  class="container"  style="margin: 5% 5% 5% 5%;">
            <mat-form-field>
                <input matInput required placeholder="Ime"  [(ngModel)]="manager.name">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput required placeholder="Prezime" [(ngModel)]="manager.surname" >
            </mat-form-field><br>
            <mat-form-field>
                <input matInput required placeholder="Telefon" [(ngModel)]="manager.phoneNumber">
            </mat-form-field><br>
            <mat-form-field>
                <input matInput required placeholder="Email" [(ngModel)]="manager.email">
            </mat-form-field>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Nazad</button>
            <button type="button" [disabled]="this.manager.name == '' || this.manager.surname == '' || this.manager.email == '' || this.manager.phoneNumber == ''" class="btn btn-primary"  data-dismiss="modal" (click)="addManager()">Sačuvaj</button>
        </div>
    </div>
    </div>
</div>



  <!-- Modal for editing manager -->
  <div class="modal fade" id="editManager" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Izmijeni informacije</h5>
        </div>
        
        <div  class="container"  style="margin: 5% 5% 5% 5%;">
            <mat-form-field>
                <input matInput required placeholder="Ime"  [(ngModel)]="selectedManager.name">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput required placeholder="Prezime" [(ngModel)]="selectedManager.surname" >
            </mat-form-field><br>
            <mat-form-field>
                <input matInput required placeholder="Telefon" [(ngModel)]="selectedManager.phoneNumber">
            </mat-form-field><br>
            <mat-form-field>
                <input matInput required placeholder="Email" [(ngModel)]="selectedManager.email">
            </mat-form-field>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Nazad</button>
            <button type="button" [disabled]="this.selectedManager.name == '' || this.selectedManager.surname == '' || this.selectedManager.email == '' || this.selectedManager.phoneNumber == ''" class="btn btn-primary"  data-dismiss="modal" (click)="editManager()">Sačuvaj</button>
        </div>
    </div>
    </div>
</div>