<div class="borders">

    <h4>Isplate</h4>
    <div style="justify-content: space-between; display: flex; margin-bottom: 2ch;">
        
        <div class="row">
          <div class="col input-group">
            <input type="search" class="form-control rounded" [(ngModel)]="searchCriteria" placeholder="Klijent" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary" (click)="search()">Pretraži</button>
            <button type="button" class="btn btn-outline-primary" (click)="getAll()">Obriši</button>
          </div>
        </div>

        <div class="col-1.5"> 
          <button *ngIf="isAccountingWorker()" class="btn btn-primary" data-toggle="modal" data-target="#addPayoff" style="margin-left: 4ch;">Dodaj isplatu</button>
        </div>

    </div>


    <table class="shadow p-3 mb-5 bg-white rounded table" style="width:100%">
        <thead>
          <tr>
            <th scope="col" style="width:8%">#</th>
            <th scope="col" style="width:19.25%">Primalac</th>
            <th scope="col" style="width:24%">Adresa</th>
            <th scope="col" style="width:19.25%">Tip</th>
            <th scope="col" style="width:15%">Iznos</th>
            <th scope="col" style="width:12%">Status</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of payoffs; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{m.client.name}} {{m.client.surname}}</td>
            <td>{{m.clientAddress}}</td>
            <td>{{m.payoffType}}</td>
            <td>{{m.amountCurrency}}</td>
            <td *ngIf="m.paidOff" style="color:green; font-weight: bold;">Isplaćeno</td>
            <td *ngIf="!m.paidOff"><button class="btn btn-primary" data-toggle="modal" data-target="#processPayoff" (click)="selectPayoff(m)">Isplati</button></td>

          </tr>

        </tbody>
      </table>

</div>



<div class="modal fade" id="processPayoff" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content">
        <div class="modal-header" style="margin-left: 4%;">
            <h6 class="modal-title" id="exampleModalLongTitle">Isplata</h6>
        </div>
        
        <div  class="container"  style="margin: 5% 5% 5% 5%;">
  
            <b>Da li ste sigurni da želite da izvršite isplatu za korisnika: {{selectedPayoff?.client?.name}} {{selectedPayoff?.client?.surname}}?</b>
                
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
            <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="payOff()">Potvrdi</button>
        </div>
    </div>
    </div>
  </div>



  <!-- Modal for adding new payoff -->
  <div class="modal fade" id="addPayoff" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Dodaj novu isplatu</h5>
        </div><br>
        <div class="form-group" class="center" style="width: 40vw; margin-left: 4%;">
        
            <div class="row">
                <div class="col">
                    <label style="margin-bottom: 10px; margin-left: 0.5ch;" class="row">Primalac:</label>
                    <input style="width: 95%; margin-left: 0.5ch;" type="text" class="row" placeholder="Ime" [(ngModel)]="client.name" name="rname">
                </div>
                <div class="col">
                    <input style="width: 107%; margin-top: 3.9ch;" type="text" class="row" [(ngModel)]="client.surname" placeholder="Prezime" >
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-6" >
                    <input type="text" placeholder="Ulica" style="width: 95%; margin-left: 0.5ch;" [(ngModel)]="clientAddress.street" name="rstreet">
                </div>
                <div class="col-3" style="padding: 0%">
                    <input type="text" placeholder="Broj" style="width: 100%;" [(ngModel)]="clientAddress.streetNumber" name="rstreetNum">
                </div>
                <div class="col-3" style="padding-right: 0%;">
                    <input type="text" placeholder="Poštanski broj" style="width: 97%;" [(ngModel)]="clientAddress.postalCode" name="rPostalCode" autocomplete="off" (change) = findCity()>
                </div>
            </div><br>

            <div class="row">
                <div class="col">
                    <input style="width: 95%; margin-left: 0.5ch; margin-top: 0.5ch;" type="text" class="row" placeholder="Grad" [(ngModel)]="clientAddress.city" name="rcity">
                </div>

                <div class="col">
                    <input style="width: 107%; margin-top: 0.5ch;" type="text" class="row" placeholder="Država" [(ngModel)]="clientAddress.country" name="rcountry">
                </div><br>

            </div>

            

            <div>

                <div><br>
                    <label style="margin-bottom: 10px; margin-left: 2px;" class="row">Tip isplate:</label>
                    <select class="form-select" (change)="selectPayoffType($event)" style="width: 620px; margin-left: 2px;" >
                        <option selected value="1">Penzija</option>
                        <option value="2">Dječiji dodatak</option>
                        <option value="3">Invalidnina</option>

                    </select>
                </div><br>
           
            </div>

            <div class="row">
                <div class="col">
                    <input style="width: 95%; margin-left: 0.5ch; margin-top: 0.5ch;" type="text" class="row" placeholder="Iznos"  [(ngModel)]="payoff.amount"  name="amount">
                </div>

                <div class="col">
                    <input style="width: 107%; margin-top: 0.5ch;" type="text" class="row" placeholder="Valuta"  [(ngModel)]="payoff.currency"  name="currency">
                </div><br>

            </div><br>
               
        </div>
     
        
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
            <button type="button" [disabled]="client.name === '' || client.surname === '' || clientAddress.street === '' || clientAddress.streetNumber === '' || clientAddress.postalCode === ''
             || clientAddress.city === '' || clientAddress.country === '' || payoff.amount === '' || payoff.currency === ''" class="btn btn-primary" (click)="addPayoff()">Sačuvaj</button>

        </div>
    </div>
    </div>
</div>